.wta-textarea {
    background-color: #111827 !important;
    color: #10995f;
}

.wooapp-container {
    background: rgba(243, 244, 246, 1);
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wooapp-layout {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    width: 650px;
    height: 600px;
    border-radius: 8px;
    background-color: white;
    padding: 32px 20px;
}

.wooapp-logo-container {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wooapp-layout .wooapp-app-making-area {
    padding: 0 20px;
}


.wooapp-action {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wooapp-layout .wooapp-mail .form-control {
    width: 70%;
    margin-right: 10px;
}


.wooapp-main-container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wooapp-main-container .wooapp-header img {
    width: auto;
    height: 50px;
  }
  .wooapp-main-container .wooapp-body {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    min-height: 50vh;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-left {
    padding: 1.2rem;
    border-right: 1.5px solid #e0e0e0;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right {
    background-color: #fff;
    padding: 1.5rem;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-header {
    border-bottom: rgb(200, 200, 200) solid 1px;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-header i {
    font-size: 1rem;
    color: #000;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-header h5 {
    font-size: 1rem;
    color: rgb(95, 95, 95);
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-header p {
    font-size: 0.6rem;
    color: #000;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul {
    margin-top: 0.8rem;
    list-style: none;
    padding: 0;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul li {
    border-bottom: rgb(200, 200, 200) solid 1px;
    padding: 1rem 0;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul li i {
    font-size: 1rem;
    color: red;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul li h5 {
    font-size: 0.8rem;
    color: #000;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul li p {
    font-size: 0.6rem;
    color: #000;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul li .btn {
    font-size: 0.5rem;
    padding: 0.3rem 0.3rem;
    margin-top: 10px;
  }
  .wooapp-main-container .wooapp-body .wooapp-body-right .wooapp-body-right-body ul::-webkit-scrollbar {
    display: none;
  }/*# sourceMappingURL=style.css.map */
